<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.done.recommendation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <provider
            android:name=".database.DatabaseProvider"
            android:authorities="recommendation"
            android:exported="true" />

        <activity
            android:name="com.done.recommendation.ui.Activity_Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.done.recommendation.ui.Activity_Main"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.done.recommendation.ui.Activity_Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.done.recommendation.ui.Activity_Questions"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.done.recommendation.ui.Activity_Cart"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.done.recommendation.ui.Activity_Checkout"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.done.recommendation.ui.Activity_OrderDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.done.recommendation.ui.Activity_SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.done.recommendation.ui.Activity_ProductDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.done.recommendation.ui.Activity_Orders"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.done.recommendation.ui.Activity_RateOrder"
            android:screenOrientation="portrait" />
    </application>

</manifest>